{% extends 'base.html' %}
{% block title %} FORMS {% endblock %}

{% block content %}
<br>
<br>
<p>Details Form</p>
<form action="{{ url_for('forms')  }}" method="POST">
    <input name="username" placeholder="username" type="text"><br> <br>
    <input name="password" placeholder="password" type="password"><br> <br>
    <input type="submit" value="login">
</form>

<h1>File Upload</h1>
<form action="{{ url_for('file_upload') }}" enctype="multipart/form-data" method="POST">
    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" name="file"
           required="required"
           type="file">
    <input type="submit" value="Upload file">
</form>

<h1>Convert Excel to CSV</h1>
<form action="{{ url_for('convert_csv') }}" enctype="multipart/form-data" method="POST">
    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
           name="file" required="required" type="file">
    <input type="submit" value="upload file">
</form>

<h1>convert excel to csv and redirect to download page</h1>
<form action="{{ url_for('convert_csv_download') }}" enctype="multipart/form-data" method="POST">
    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
           name="file" required="required" type="file">
    <input type="submit" value="upload file">
</form>

<h1>Javascript JSON Request</h1>
<button id="post_button">Send POST Request</button>

<script type="text/javascript">
    const postButton = document.getElementById('post_button');
    const jsonData = {name: 'Mike', greeting: 'Hello'}

    postButton.addEventListener('click', () => {
    fetch('{{ url_for('handle_post') }}', {
    method:'POST',
    headers: {
        'Content-Type' : 'application/json; charset=utf-8'
        },
        body: JSON.stringify(jsonData)
    })
    .then(response => response.json())
    .then(data => console.log('Success:', data))
    .catch((error) => {
    console.error('Error:', error)
    });
    });
</script>

{% endblock %}