{% extends 'base.html' %}

{% block title %} session_cookies {% endblock %}

{% block content %}

<p>{{ msg }}</p>
<a href="{{ url_for('set_data') }}">set session data</a><br>
<a href="{{ url_for('get_data') }}">get session data</a><br>
<a href="{{ url_for('clear_session') }}">clear session data</a><br>

<a href="{{ url_for('set_cookie') }}">set cookie</a><br>
<a href="{{ url_for('get_cookie') }}">get cookie</a><br>
<a href="{{ url_for('remove_cookie') }}">remove cookie</a><br>
<a href="{{ url_for('login') }}">Login page</a><br>

{% endblock %}